<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWx7-UratT2OLGyogeybm3tlYgneHYrQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1021754531361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exmaple.innerspace</string>
	<key>PROJECT_ID</key>
	<string>clubhouse-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>clubhouse-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021754531361:ios:26d0faad2c0b851aee4d60</string>
</dict>
</plist>